[Desktop Entry]
Name=Mount
Comment=Transfer files from/to MTP devices
Exec=mnt
Icon=android-file-transfer
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;System;FileTools;Filesystem;Qt;
